<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        #div {
            width: 150px;
            height: 150px;
            background-color: brown;

            position: absolute;
            top: 100px;
            left: 100px;
        }

    </style>
</head>
<body>
 
<p>请求头</p>
<p>{$headers}</p>

<button id="btn">发一条请求</button>

<script src="/static/lib/jquery3.6.0.min.js"></script>
<script>


$('#btn').click(() => {

    $.get('http://test.qianzhiyu.net/test/aaa/test10')
})

</script>
</body>
</html>